<div class="search">
	<input type="text" id="search-query" class="search__query" placeholder="See what’s happening right now on Twitter">

	<button type="submit" id="search-button" class="search__button">
    	<span class="material-icons">search</span>
  	</button>
</div>

<% if not @tweets.empty? -%>
<div class="tweets">
	<h2 class="tweets__title">Tweet Results</h2>

	<ul class="tweets__list">
	  	<% @tweets.each do |tweet| -%>
		  	<a target="_blank" style="text-decoration: none;" href=<%= tweet.uri %>>
		  		<li class="tweet">
				    <i class="material-icons tweet__icon">chat</i>
				    <span class="tweet__message"><%= tweet.full_text %></span>
		  		</li>
		  	</a>
		<% end -%>
	</ul>
</div>
<% end -%>