
<div class="search">
	<input type="text" id="search-query" class="search__query" placeholder="See what’s happening right now on Twitter">

	<button type="submit" id="search-button" class="search__button">
    	<span class="material-icons">search</span>
  	</button>
</div>

<div id="dynamic_partial">
	<%= render(:partial => "tweets", :locals => { :tweets => @tweets }) %>
</div>
